body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

.user-section {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#username {
    margin-right: 10px;
    font-weight: bold;
}

#logoutButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-top: 30px;
}

h2 {
    text-align: center;
    color: #555;
    font-size: 1.5em;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

#user_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

hr {
    border: 1px solid #ddd;
    margin-top: 20px;
}
