<!DOCTYPE html>
<html>
<head>
    <title>S.A.I.S.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="banner">
        S.A.I.S. - Simple Artificial Intelligence System
    </div>
    
    <div class="user-section">
        <span id="username">{{ session['username'] }}</span>
        <button id="logoutButton">Logout</button>
    </div>

    <h1>Welcome to S.A.I.S.</h1>
    <h2>Simple AI System</h2>

    <form method="post" action="{{ url_for('submit_command') }}">
        <label for="user_input">Enter your command:</label>
        <input type="text" id="user_input" name="user_input" required>
        <input type="submit" value="Submit">
    </form>
    

    <br />​<hr />​​​​​​​​​​​​​​​​​​​<br />

    <button id="startChat">Start a Chat</button>

    <br />​<hr />​​​​​​​​​​​​​​​​​​​<br />

    {% if session['role'] == 'Admin' %}
        <button id="viewInteractions">View All Interactions</button>
    {% endif %}

    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
