<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Interactions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='interactions.css') }}">
</head>
<body>
    <h1>All Interactions</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>User Input</th>
                <th>Response</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for interaction in interactions %}
            <tr>
                <td><input type="checkbox" data-id="{{ interaction[0] }}"></td>
                <td>{{ interaction[0] }}</td>
                <td>{{ interaction[2] }}</td>
                <td>{{ interaction[3] }}</td>
                <td>{{ interaction[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="removeButton">Remove Selected</button>
    <script src="{{ url_for('static', filename='interactions.js') }}"></script>
</body>
</html>
